@import '../base/vars';

.not-found {
  @extend %flex-col-center;
  text-align: center;

  &__img {
    object-fit: cover;

    @media(min-width: 1025px) {
      width: vw(644);
      height: vw(350);
    }

    &:not(:last-child) {
      margin-bottom: vw(90);

      @media(max-width: 1024px) {
        margin-bottom: 90px;
      }
    }
  }

  &__title {
    font-size: vw(32);
    line-height: 34 / 32 * 100%;
    font-weight: 700;
    letter-spacing: vw(1);

    @media(max-width: 1024px) {
      font-size: 32px;
      letter-spacing: 1px;
    }

    &:not(:last-child) {
      margin-bottom: vw(20);

      @media(max-width: 1024px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-weight: 500;
    line-height: 17 / 14 * 100%;
    color: #767676;

    &:not(:last-child) {
      margin-bottom: vw(30);

      @media(max-width: 1024px) {
        margin-bottom: 30px;
      }
    }
  }

  &__btn {
    padding: vw(10) vw(45);
    border-radius: vw(4);
    @extend %text-16;

    @media(max-width: 1024px) {
      padding: 10px 45px;
      border-radius: 4px;
    }
  }
}