@import '../base/vars';

.burger-btn {
  display: none;
  background-color: transparent;

  img {}

  @media(max-width: 1024px) {
    display: block;
  }
}

.burger-menu {
  display: none;

  @media (max-width: 1024px) {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 101;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.4s left;
    overflow: auto;
    padding: 4.5rem 4.5rem 10rem;
  }

  &.active {
    @media (max-width: 1024px) {
      left: 0;
    }
  }
}