@import '../base/vars';

.dashboard {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content vw(256) vw(94) max-content;
    grid-template-areas:
      "stats stats stats stats"
      "chart chart chart customers"
      "chart chart chart categories"
      "table table table categories"
    ;
    grid-gap: vw(20);
  }

  &__stats {
    grid-area: stats;
  }

  &__chart {
    grid-area: chart;
  }

  &__customers {
    grid-area: customers;
  }

  &__categories {
    grid-area: categories;
  }

  &__table {
    grid-area: table;
  }
}

.dashboard-table {
  table {
    border-spacing: 0;

    td {
      padding: vw(8.5) 0;
      @extend %text-12;
      font-weight: 500;
      letter-spacing: -0.3px;
      color: #767676;

      &:first-child {
        padding-left: vw(20);
        padding-right: vw(20);
        text-align: center;
      }

      &:nth-child(2) {
        width: vw(71);
      }
    }

    input {
      &[type="checkbox"] {
        margin: 0;
        width: vw(14);
        height: vw(14);
      }
    }
  }

  &__head {
    background-color: #EFF0F6;
    box-shadow: 0px 1px 0px #DADBE4;

    th {
      text-align: left;
      padding: vw(14) 0;
      font-size: vw(14);
      font-weight: 500;
      letter-spacing: -0.3px;
      color: #767676;

      &:first-child {
        padding-left: vw(20);
        padding-right: vw(20);
        text-align: center;
      }
    }
  }
}

.react-bootstrap-table table {
  width: 100%;
}

.author {
  @extend %vertical-align;

  &__avatar {
    width: vw(30);
    height: vw(30);
    object-fit: cover;
    flex-shrink: 0;
    margin-right: vw(7.5);
  }
}

.status-label {
  text-align: center;
  padding: vw(1) vw(19);
  font-size: vw(12);
  line-height: 20 / 12 * 100%;
  font-weight: 500;
  border-radius: vw(100);
}