@import '../base/vars';

.extentions {
  >* {
    &:not(:last-child) {
      margin-bottom: vw(20);

      @media(max-width: 1024px) {
        margin-bottom: 20px;
      }
    }
  }

  &__empty {
    font-size: vw(24);
    line-height: 30 / 24 * 100%;
    font-weight: 600;

    @media(max-width: 1024px) {
      font-size: 24px;
    }

    @media(max-width: 500px) {
      font-size: 16px;
    }
  }

  &__top {
    @extend %flex-row-center;
  }

  &__cards {
    display: grid;
    grid-gap: vw(20);

    @media(max-width: 1024px) {
      grid-gap: 20px;
    }

    @media(min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.add-extention {
  padding: vw(10) vw(20);

  @media(max-width: 1024px) {
    padding: 10px 20px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $blue;
    }
  }

  span {
    background-size: vw(24) vw(24);
    background-position: 0 50%;
    background-repeat: no-repeat;
    @extend %text-16;
    padding-left: vw(28);

    @media(max-width: 1024px) {
      padding-left: 28px;
      background-size: 24px;
    }
  }
}

.extention-card {
  display: grid;
  grid-template-areas:
    ". . . . . . . ."
    ". img . . . . status ."
    ". img . . . . . ."
    ". . . . . . . ."
    ". title title title title title title ."
    ". . . . . . . ."
    ". text text text text text text ."
    ". . . . . . . ."
    ". . . disable . delete delete ."
    ". . . . . . . ."
  ;
  grid-template-columns: vw(20) vw(58) 1fr vw(96) vw(5) vw(17) vw(79) vw(20);
  grid-template-rows: vw(20) vw(22) vw(36) vw(20) max-content vw(10) max-content vw(10) vw(33) vw(20);
  border-radius: vw(10);

  @media(max-width: 1024px) {
    grid-template-columns: 20px 58px 1fr 96px 5px 17px 79px 20px;
    grid-template-rows: 20px 22px 36px 20px max-content 10px max-content 10px 33px 20px;
    border-radius: vw(10);
  }

  &__img {
    grid-area: img;
    border: 1px solid #EEE;
    border-radius: vw(6);
    @extend %flex-center;

    @media(max-width: 1024px) {
      border-radius: 6px;
    }

    img {
      width: vw(43.5);
      height: vw(43.5);
      object-fit: cover;
      border-radius: vw(6);

      @media(max-width: 1024px) {
        width: 40px;
        height: 40px;
        border-radius: 6px;
      }
    }
  }

  &__status {
    grid-area: status;
    padding: vw(1) vw(15);
    border-radius: vw(100);
    @extend %flex-center;
    font-size: vw(12);
    line-height: 20 / 12 * 100%;
    font-weight: 500;

    @media(max-width: 1024px) {
      font-size: 12px;
      padding: 1px 15px;
      border-radius: 100px;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title {
    grid-area: title;
    @extend %text-16;
    font-weight: 600;
    line-height: 20 / 16 * 100%;
  }

  &__text {
    grid-area: text;
    padding-bottom: vw(10);
    border-bottom: 1px solid #EEE;
    color: #767676;

    @media(max-width: 1024px) {
      padding-bottom: 10px;
    }
  }

  &__btn {
    border: 1px solid #EEEEEE;
    border-radius: vw(4);
    @extend %flex-center;
    @extend %text-16;
    transition: .3s all;

    &--disable {
      grid-area: disable;
      color: #D6D7E3;

      @media (any-hover: hover) {
        &:hover {
          background-color: #D6D7E3;
          color: #fff;
        }
      }
    }

    &--enable {
      grid-area: disable;
      color: #fff;
      background-color: #4BDE97;
    }

    &--delete {
      grid-area: delete;
      color: #F26464;

      @media (any-hover: hover) {
        &:hover {
          background-color: #F26464;
          border-color: #F26464;
          color: #fff;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  @extend %flex-center;
}

.close-popup {
  position: absolute;
  top: vw(50);
  right: vw(50);
  font-size: vw(50);

  @media(max-width: 1024px) {
    top: 30px;
    right: 30px;
    font-size: 50px;
  }
}

.popup {
  &__title {
    font-size: vw(32);
    line-height: 34 / 32 * 100%;
    font-weight: 700;
    text-align: center;
    letter-spacing: vw(1);
    margin-bottom: vw(30);

    @media(max-width: 1024px) {
      font-size: 24px;
      margin-bottom: 30px;
      letter-spacing: 1px;
    }
  }

  &__form {
    width: vw(418);
    margin: 0 auto;

    @media(max-width: 1024px) {
      width: 418px;
    }

    @media(max-width: 500px) {
      width: 100%;
    }
  }
}

.form {
  background-color: #FFF;
  box-shadow: 0px 5px 10px rgba(160, 163, 189, 0.1);
  border-radius: vw(10);
  padding: vw(40);

  @media(max-width: 1024px) {
    padding: 40px;
    border-radius: 10px;
  }

  @media(max-width: 500px) {
    padding: 20px;
  }

  &__item {
    display: block;
    margin-bottom: vw(15);

    @media(max-width: 1024px) {
      margin-bottom: 15px;
    }
  }

  &__label {
    font-size: vw(14);
    line-height: 34 / 14 * 100%;
    font-weight: 500;
    margin-bottom: vw(5);

    @media(max-width: 1024px) {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__input {
    width: 100%;
    background-color: #EFF0F6;
    border-radius: vw(8);
    padding: vw(5) vw(16);
    font-size: vw(14);
    line-height: 34 / 14 * 100%;
    font-weight: 500;

    @media(max-width: 1024px) {
      font-size: 14px;
      padding: 5px 16px;
      border-radius: 8px;
    }

    &::placeholder {
      color: #D6D7E3;
    }
  }

  &__btn {
    width: 100%;
    padding: vw(10);
    @extend %text-16;
    margin-top: vw(15);

    @media(max-width: 1024px) {
      margin-bottom: 15px;
      padding: 10px;
    }
  }
}