@import '../base/vars';

.extentions {
  >* {
    &:not(:last-child) {
      margin-bottom: vw(20);
    }
  }

  &__top {
    @extend %flex-row-center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: vw(20);
  }
}

.add-extention {
  padding: vw(10) vw(20);

  @media (any-hover: hover) {
    &:hover {
      background-color: $blue;
    }
  }

  span {
    background-size: vw(24) vw(24);
    background-position: 0 50%;
    background-repeat: no-repeat;
    font-size: vw(16);
    line-height: 24 / 16 * 100%;
    padding-left: vw(28);
  }
}

.extention-card {
  display: grid;
  grid-template-areas:
    "img . . . . status"
    "img . . . . ."
    ". . . . . ."
    "title title title title title title"
    ". . . . . ."
    "text text text text text text"
    ". . . . . ."
    ". . disable . delete delete"
  ;
  grid-template-columns: vw(58) 1fr vw(96) vw(5) vw(17) vw(79);
  grid-template-rows: vw(22) vw(36) vw(20) max-content vw(10) max-content vw(10) vw(33);
  background-color: #FFF;
  border-radius: vw(10);
  padding: vw(20);

  &__img {
    grid-area: img;
    border: 1px solid #EEE;
    border-radius: vw(6);
    @extend %flex-center;

    img {
      width: vw(43.5);
      height: vw(43.5);
      object-fit: cover;
      border-radius: vw(6);
    }
  }

  &__status {
    grid-area: status;
    padding: vw(1) vw(15);
    background-color: rgba(88, 135, 255, 0.1);
    border-radius: vw(100);
    @extend %flex-center;
    font-size: vw(12);
    line-height: 20 / 12 * 100%;
    font-weight: 500;
    color: #5887FF;
  }

  &__title {
    grid-area: title;
    font-size: vw(16);
    font-weight: 600;
    line-height: 20 / 16 * 100%;
  }

  &__text {
    grid-area: text;
    padding-bottom: vw(10);
    border-bottom: 1px solid #EEE;
    color: #767676;
  }

  &__btn {
    border: 1px solid #EEEEEE;
    border-radius: vw(4);
    @extend %flex-center;
    font-size: vw(16);
    line-height: 24 / 16 * 100%;
    transition: .3s all;

    &--disable {
      grid-area: disable;
      color: #D6D7E3;
    }

    &--delete {
      grid-area: delete;
      color: #F26464;

      @media (any-hover: hover) {
        &:hover {
          background-color: #F26464;
          border-color: #F26464;
          color: #fff;
        }
      }
    }
  }
}