@import '../base/vars';

.new-customers {
  background-color: #5F2EEA;
  box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
  border-radius: vw(10);
  padding: vw(20);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  grid-template-rows: repeat(2, max-content);
  grid-gap: vw(4);
  color: #fff;

  &__title {
    font-size: vw(16);
    line-height: 22 / 16 * 100%;
    letter-spacing: -0.5px;
    font-weight: 600;

  }

  &__num {}

  &__daily {
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 20 / 14 * 100%;
  }
}