@import '../base/vars';
@import '../base/mixins';

.footer {
  border-top: 1px solid #E0E1EA;
  padding: vw(13.5) vw(20);
  font-size: vw(12);
  line-height: 34 / 12 * 100%;
  font-weight: 500;
  color: #B9B9B9;

  &__inner {
    @extend %flex-row;
  }

  &__list {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: vw(20);
  }
}