@import './vars';
@import './mixins';
@import './null';

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.page {
  @extend %flex-col;
  min-height: 100vh;
  padding-left: vw(253);
  transition: .5s padding;

  &--wider {
    padding-left: vw(5);
  }
}

.main {
  flex: 1 1 auto;
  padding: vw(20) vw(27) vw(15) vw(20);
}

.btn {
  background-color: #2F49D1;
  text-align: center;
  color: #fff;
  border-radius: vw(4);
  transition: .3s all;
}

h1 {
  font-size: vw(24);
  line-height: 34 / 24 * 100%;
  font-weight: 700;
}

.search-input {
  @extend %vertical-align;
  background-color: #EFF0F6;
  background-size: vw(24) vw(24);
  background-position-y: 50%;
  background-repeat: no-repeat;

  &::placeholder {
    color: #D6D7E3;
  }
}