@import './vars';
@import './mixins';
@import './null';

.wrapper {
  position: relative;
  overflow-x: hidden;
  /* display: grid;
  grid-template-columns: minmax(vw(253), 25%) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer"
  ; */
}

.page {
  @extend %flex-col;
  min-height: 100vh;
  padding-left: vw(253);
}

.main {
  flex: 1 1 auto;
  padding: vw(20) vw(27) vw(15) vw(20);
}

.btn {
  background-color: $blue;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: vw(24);
  line-height: 34 / 24 * 100%;
  font-weight: 700;
}