@import './vars';
@import './mixins';
@import './null';

.wrapper {
  position: relative;
  overflow-x: hidden;

  &._lock {
    overflow-y: hidden;
  }
}

.page {
  @extend %flex-col;
  min-height: 100vh;
  transition: .5s padding;

  @media(min-width: 1025px) {
    padding-left: vw(253);
  }

  &.wide {
    @media(min-width: 1025px) {
      padding-left: vw(50);
    }
  }
}

.main {
  flex: 1 1 auto;
  padding: vw(20) vw(27) vw(15) vw(20);

  @media(max-width: 1024px) {
    padding: 30px 15px;
  }
}

.btn {
  background-color: #2F49D1;
  text-align: center;
  color: #fff;
  border-radius: vw(4);
  transition: .3s all;

  @media(max-width: 1024px) {
    border-radius: 4px;
  }
}

h1 {
  font-size: vw(24);
  line-height: 34 / 24 * 100%;
  font-weight: 700;

  @media(max-width: 1024px) {
    font-size: 24px;
  }
}

.search-input {
  @extend %vertical-align;
  background-size: vw(24) vw(24);
  background-position-y: 50%;
  background-repeat: no-repeat;

  @media(max-width: 1024px) {
    background-size: 20px 20px;
  }

  &::placeholder {
    color: #D6D7E3;
  }
}

.burger-btn {
  display: none;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 1024px) {
    display: flex;
  }

  span {
    width: 100%;
    height: 3px;
    background-color: #171717;
  }
}