* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Inter',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: vw(14);
  line-height: 17 / 14 * 100%;

  @media(max-width: 1024px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

input {
  cursor: default;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}